@model List<BAL.Models.UserViewModel>

<div class=" main-container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" id="successMessage">
            <i class="bi bi-check2-circle fs-4"></i>  @TempData["SuccessMessage"]
        </div>
       
    }

    @Html.ActionLink("Export CSV", "ExportCSV", "User", null, new { @class = "addButton" })

    <div class="filter mb-3">
        <h4 style="color: #fff;">Filter</h4>
        <div class="form-row row">
            <div class="col-md-2 mb-3">
                <label for="firstNameFilter">First Name</label>
                <input type="text" class="form-control" id="firstNameFilter" placeholder="Enter first name">
            </div>
            <div class="col-md-2 mb-3">
                <label for="lastNameFilter">Last Name</label>
                <input type="text" class="form-control" id="lastNameFilter" placeholder="Enter last name">
            </div>
            <div class="col-md-2 mb-3">
                <label for="fromDateFilter">From Date</label>
                <input type="date" class="form-control" id="fromDateFilter">
            </div>
            <div class="col-md-2 mb-3">
                <label for="toDateFilter">To Date</label>
                <input type="date" class="form-control" id="toDateFilter">
            </div>

            <div class="col-md-2 mb-3">
                <label for="countryFilter">Country</label>
                <input type="text" class="form-control" id="countryFilter" placeholder="Enter country">
            </div>
            <div class="col-md-2 mb-3">
                <label for="cityFilter">City</label>
                <input type="text" class="form-control" id="cityFilter" placeholder="Enter city">
            </div>
        </div>

    </div>

    <div class="d-flex flex-row justify-content-between mb-3">
        <h2 class="userHeading">User Details</h2>

        <div class="UserDetail">
            @Html.Partial("UserPartial")
        </div>
        <button class="addButton" data-toggle="modal" data-target="#exampleModalCenter" onclick="editDetails(0)">Add New</button>

    </div>
    <table class="table " id="userTable">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Date OF Birth</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Pincode</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

