body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#green-bg {
  background-color: rgb(240, 241, 247);
}

.dark {
  background-color: rgba(26, 28, 30, 0.95) !important;
  color: #fff;
}

#responsive-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(15, 23, 42, 0.5);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.1s;
}

.visible-overlay {
  visibility: visible !important;
}

.login-btn {
  margin-top: 1rem;
  padding: 8px 10px 8px 10px;
  border-color: none !important;
  border: none !important;
  width: 100%;
  background-color: rgba(38, 191, 148);
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.login-bg {
  height: 100%;
  position: relative;
}

#login .panelHeight {
  max-height: auto;
}

#login .forgotPass {
  max-height: 300px;
}

#login .reset {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
  padding: 30px;
  max-width: 800px;
  max-height: 390px;
}

#login {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

#login::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 32%;
  transform: translateY(-20%);
  /* background-image: linear-gradient(-45deg, #917833 20%, #917833 100%); */
  background-image: url(./Typing-bro.png);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: -1;
}

@media (max-width: 1226px) {
  #login::before {
    right: 16%;
  }
}

.loginform .form-control {
  width: 100%;
  margin-bottom: 0.9rem;
  border: none;
  border-bottom: rgba(38, 191, 148) solid 0.8px;
  border-radius: 0;
  background: transparent;
}

.login-panel {
  height: 100%;
}

.loginleft {
  padding: 5rem;
  display: flex;
  align-items: center;
}

.loginParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .loginleft {
    padding: 2rem;
  }

  .loginleft {
    display: none;
  }

  .loginright {
    padding: 0 2rem;
    width: 70% !important;
    margin: 0 auto;
  }

  .quick-links {
    margin-bottom: 1rem !important;
  }

  .news-feed {
    margin-top: 1rem;
  }
}

@media (max-width: 425px) {
  #login::before {
    right: 5%;
  }

  .loginright {
    padding: 0 2rem;
    width: 100% !important;
    margin: 0 auto;
  }
}

.login-panel input.form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.login-panel input[type="checkbox"] {
  margin-right: 5px;
}

.login-panel .link_password,
.login-panel .remember {
  vertical-align: text-top;
}

.forgot {
  margin-top: 5px;
}

.forgot a {
  color: #78b3d8;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 0 0 0;
}

.forgot a:focus,
.forgot a:hover {
  color: #338bc3;
}

#login a {
  text-decoration: none;
  color: rgba(38, 191, 148);
  font-weight: 600;
}

#login .logo {
  max-width: 200px;
  margin: 0rem auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

#login .logo img {
  max-width: 100%;
  height: auto;
}

/* ---Navbar--- */

.userlinks {
  display: inline-block;
  float: right;
  margin: 10px 0px 0px;
  padding: 0px;
}

.userlinks .username {
  display: inline-block;
  text-align: right;
  padding: 10px;
}

a {
  text-decoration: none;
}

.navbar-container {
  background-color: #fff;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-inline-end: 1px solid #f3f3f3;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 0;
  padding-inline-start: 16rem;
  width: 100%;
  height: 70px;
  margin: 0;
}

.dark .navbar-container {
  background-color: #000;
}

.navbar-container .nav-items {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 0.4rem;
  list-style: none;
}

.nav-link {
  padding: 0rem !important;
}

.navbar-container .nav-items .nav-link a {
  color: rgba(38, 191, 148);
  padding: 0 0.8rem;
  text-transform: uppercase;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.toggler,
.navbar-logo {
  display: flex;
  align-items: center;
  margin: 0 16px;
  height: 100%;
  position: relative;
}

.navbar-logo img {
  width: 100px;
}

.cross {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg) !important;
  transition: all 0.3s ease;
}

.toggler .app {
  height: 25px;
  transform: translateX(-10%) rotate(0deg) !important;
  transition: all 0.3s ease;
  opacity: 1;
}

.close-sidebar .toggler .app {
  transform: translateX(-50%) rotate(180deg) !important;
  opacity: 0;
}

/* .close-sidebar .toggler .cross {
  opacity: 1;
  transform: translateX(-50%) rotate(360deg) !important;
} */
.toggler {
  display: none;
}

.navbar-container .nav-items .nav-link:after {
  content: "";
  display: block;
  margin-top: 5px;
  border-top: 2px solid rgba(38, 191, 148);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
  transform: scaleX(0.9);
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
}

a:hover {
  text-decoration: none !important;
}

.close-sidebar .navbar-container {
  padding-inline-start: 9rem;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.search {
  border: 2px solid rgba(38, 191, 148);
  cursor: pointer;
  height: 35px;
  padding: 0 6px 0 6px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  min-width: 20px;
  cursor: pointer;
}

.search:focus {
  background-color: transparent;
  border: 2px solid rgba(38, 191, 148);
  cursor: text;
  outline: 0;

  color: #000;
}

.search:focus .nav-link:hover:after {
  border-top: none !important;
}

.navbar-container .dropdown-menu {
  padding: 0.5rem;
  color: rgba(38, 191, 148);
  top: 170%;
  left: -62px;
  min-width: 140px;
  border: none;
  box-shadow: 0 0 60px rgb(14 42 71 / 25%);
}

#search-menu::before {
  right: 7.2em;
}

#search-toggle::after {
  border: none !important;
}

.open .dropdown-menu {
  display: flex !important;
  flex-direction: column;
}

.navbar-container .dropdown-menu::before {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  top: -10%;
  right: 0.97em;
}

.navbar-container .nav-items.active {
  right: 0;
}

.user-img {
  display: none;
}

/* ---Sidebar--- */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  padding-top: 0;
  background-color: #fff;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-inline-end: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: block;
}

.dark .sidebar-container {
  background-color: #000;
  border-inline-end: 1px solid rgba(255, 255, 255, 0.1);
}

.close-sidebar .sidebar-container {
  width: 7rem;
}

.sidebar-container .logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .logo-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .white-logo {
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  padding: 6px;
  display: block !important;
  height: 60px !important;
}

.dark .black-logo {
  transition: all 0.3s ease;
  display: none;
}

.sidebar-container .logo-container img {
  margin: 0.3rem;
  cursor: pointer;
  height: auto;
  width: 6.2rem;
}

.theme {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  bottom: -6rem;
}

.theme img {
  width: 26px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #cef3e3;
  width: 70px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid rgba(38, 191, 148);
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: rgba(38, 191, 148);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(35px);
}

.sidebar-items {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-items .sidebar-link {
  margin: 0.8rem 0.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-text {
  font-size: 0.85rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sidebar-text,
.down-arrow {
  opacity: 1;
  transition: all 0.2s ease;
}

.close-sidebar .sidebar-text,
.close-sidebar .down-arrow {
  opacity: 0;
}

.open-sidebar {
  width: 15rem !important;
}

.open-sidebar .sidebar-text,
.open-sidebar .down-arrow {
  display: inline-block !important;
}

.sidebar-link:hover {
  background-color: #cef3e3;
}

.open-sidebar .sidebar-items .sidebar-link a {
  justify-content: space-between;
}

.sidebar-items .sidebar-link a {
  color: rgba(38, 191, 148);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 5px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  justify-content: space-between;
}

.sidebar-link a div {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar-link img {
  width: 20px;
  height: 20px;
  margin: 0 16px;
}

.sidebar-link .dropdown-toggle::after {
  border: none !important;
}

.down-arrow {
  width: 14px !important;
  height: 14px !important;
  transform: rotate(-90deg);
}

.rotate .down-arrow {
  transform: rotate(0deg);
}

.sub-menu {
  display: none;
  flex-direction: column;
  font-size: 14px;
  margin-left: 1.5rem !important;
}

ul.sub-menu li {
  list-style-type: none;
  color: rgba(38, 191, 148);
}

ul.sub-menu li a {
  position: relative;

  display: flex;
  justify-content: start !important;
  font-size: 14px !important;
  padding: 10px 5px !important;
}

.mini-sidebar .is-expanded .sub-menu {
  display: none !important;
}

@media (max-width: 1441px) and (min-width: 601px) {
  .sidebar-container {
    width: 7rem;
    transition: all 0.3s ease;
  }

  .navbar-container {
    padding-inline-start: 7.5rem !important;
  }

  .cross {
    display: none !important;
  }

  .app {
    opacity: 1 !important;
  }

  .sidebar-text,
  .down-arrow {
    display: none;
  }

  .sidebar-items .sidebar-link a {
    justify-content: center;
  }

  .main-content {
    padding-left: 8rem !important;
    transition: all 0.3s ease;
  }

  .mini-sidebar .sub-menu {
    display: none;
  }
}

/*--Dashboard--- */
.main-content {
  padding: 2rem;
  padding-left: 17rem;
  transition: all 0.3s ease;
}

.close-sidebar .main-content {
  padding-left: 10rem;
}

#charts {
  height: 100%;
}

.database,
.reports-summary,
.quick-links,
.news-feed {
  background-color: #fff;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-radius: 0.5rem;
  border-radius: 8px;
  padding: 18px !important;
}

.row {
  margin-bottom: 1rem !important;
}

.news-feed {
  height: 100%;
}

.sideDashboard {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.database {
  height: 52%;
}

.sideDashboard-right {
  height: 48%;
}

.reports-summary {
  margin-bottom: 1rem;
}

.dark .database,
.dark .reports-summary,
.dark .quick-links,
.dark .news-feed {
  background-color: #000;
}

.sca-heding {
  color: #505553;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 20px;
  font-family: OpenSansBold;
  position: relative;
}

.dark .sca-heding {
  color: #cbcfcd;
}

.DBtitle {
  color: #121212;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dark .DBtitle {
  color: #fff;
}

.DBtitle:hover {
  color: inherit;
}

.DBtitle .last-update {
  font-size: 14px;
  background-color: rgba(230, 83, 60, 0.1);
  padding: 5px;
  border-radius: 0.5rem;
  color: rgb(230, 83, 60);
  width: auto;
  white-space: nowrap;
}

.DBtitle:hover .refresh,
.refresh:hover {
  transition: 1s;
  transform: rotate(260deg) !important;
}

.searchresult_listing {
  list-style: none;
}

.title {
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.submission-filters ul li > a > span {
  background: rgba(38, 191, 148, 0.1);
  color: rgba(38, 191, 148);
  border-radius: 3px;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding-left: 0px;
}

.submission-filters ul li {
  display: inline-block;
  padding-bottom: 15px;
}

a:hover {
  color: inherit;
}

.submission-filters ul li a {
  color: #000 !important;
}

.dark .submission-filters ul li a {
  color: #fff !important;
}

.submission-filters ul li a img {
  width: 20px;
  margin: 0 8px;
}

#dCreateUser a,
#dInvoiceSetting a,
#dJobScheduling a,
#dCreateJob a {
  color: #000;
}

#dCreateUser img,
#dInvoiceSetting img,
#dJobScheduling img,
#dCreateJob img {
  margin-right: 6px;
}

.dark #dCreateUser a,
.dark #dInvoiceSetting a,
.dark #dJobScheduling a,
.dark #dCreateJob a {
  color: #fff;
}

.pull-right {
  float: right;
}

#dvSTCGeneralChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphTitle {
  color: #000;
  margin-left: 30%;
}

.dark .graphTitle {
  color: #fff;
}

.dark .apexcharts-pie-series path {
  stroke: #0c0c0c !important;
}

.dark .apexcharts-tooltip.apexcharts-theme-light {
  color: #000;
}

.dark hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .apexcharts-legend-text,
.dark tspan {
  color: #fff !important;
  fill: #fff;
}

.history-filter-div,
.clearfix .form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history-filter-div .form-control {
  width: auto;
  background: rgba(173, 156, 240, 0.1);
  border: 1px solid rgba(173, 156, 240);
  color: rgba(173, 156, 240);
  padding: 1px 15px;
}

.clearfix .form-control {
  background: rgba(38, 191, 148, 0.1);
  border: 1px solid rgba(38, 191, 148);
  color: rgba(38, 191, 148);
  padding: 1px 15px;
}

.ms-2 {
  margin-left: 1rem;
}

#dashboard-tabel th {
  font-weight: 500;
  color: #000;
  text-align: center;
  background: rgba(38, 191, 148, 0.1);
  border: 1px solid rgba(38, 191, 148);
  color: rgba(38, 191, 148);
}

#dashboard-tabel td {
  border: 1px solid rgba(38, 191, 148);
  font-size: 0.85rem;
  vertical-align: middle;
}

#dashboard-tabel tr:hover,
#dashboard-tabel tr:focus {
  background-color: #cef3e3;
  font-weight: 550;
}

.dark #dashboard-tabel tr:hover td {
  color: #000 !important;
}

.dark #dashboard-tabel td {
  color: #fff;
}

#dashboard-tabel {
  display: table !important;
}

@media (max-width: 1439px) {
  #dashboard-tabel {
    display: block !important;
  }

  .togglediv {
    display: flex;
    flex: 0 0 150%;
    flex-direction: row;
    max-width: 100% !important;
    margin: 15px 0;
  }

  .last-update {
    margin-left: 2rem !important;
  }

  #charts {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

@media (max-width: 1205px) and (min-width: 876px) {
  .sideDashboard {
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .database {
    height: 100%;
    width: 70%;
  }

  .sideDashboard-right {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .navbar-logo img {
    width: 70px;
  }

  .app,
  .cross {
    width: 20px;
    height: 20px !important;
  }

  .nav-items {
    gap: 0rem !important;
  }

  .user-text {
    display: none;
  }

  .user-img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .navbar-container .dropdown-menu {
    left: -106px !important;
  }

  .nav-link a {
    padding: 0 0.4rem !important;
  }

  .main-content {
    padding: 0.8rem !important;
  }

  .togglediv {
    flex-direction: column;
    width: 100%;
  }

  .togglediv div {
    margin-bottom: 1rem !important;
    width: 100%;
  }

  .nav-link img {
    width: 20px;
    height: 20px !important;
  }

  .search {
    background-size: 20px 20px;
  }

  .sideDashboard {
    flex-direction: column;
    width: 100%;
  }

  .database {
    height: 100%;
    width: 100%;
  }

  .sideDashboard-right {
    height: 100%;
    width: 100%;
  }

  .show {
    display: block !important;
  }

  .sidebar-gone .sidebar-container {
    display: none;
    width: 15rem;
  }

  .navbar-container {
    padding-inline-start: 0rem;
  }

  .navbar-logo {
    margin-left: 4px !important;
  }

  .toggler {
    display: flex !important;
  }

  .navbar-container {
    justify-content: space-between !important;
  }
}

#footer {
  background: #fff;
  padding: 20px 0 0 0;
  height: 55px;
  margin-top: 15px;
  text-align: center;
  display: block;
  position: relative;
  color: #000;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
}

.dark #footer {
  background-color: #000;
  color: #fff;
}

#changeUser .modal-header {
  border-bottom: none !important;
}

#changeUser .modal-footer {
  border-top: none !important;
}

#changeUser label {
  font-weight: 600;
}

#changeUser .modal-title {
  color: rgba(38, 191, 148, 0.9);
}

#changeUser .modal-footer .saveUser {
  background-color: rgba(38, 191, 148, 0.9);
  color: #fff;
}

.dark #changeUser .modal-content {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
}

.dark #changeUser label {
  color: #fff;
}

.dark #changeUser .form-control {
  background: rgba(38, 191, 148, 0.1);
  border: 1px solid rgba(38, 191, 148);
  color: rgba(38, 191, 148);
}

.dark .modal-backdrop {
  background-color: rgba(15, 23, 42, 1);
}

.account-manager-block {
  background-color: #fff;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-radius: 0.5rem;
  border-radius: 8px;
  padding: 18px !important;
  margin-bottom: 15px;
  width: 100%;
}

#wave {
  width: 24px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* five values can be played with to make the waving more or less */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.icons {
  display: inline-block;
  width: 26px;
  vertical-align: middle;
  text-align: center;
  height: 29px;
}

.dark .account-manager-block {
  background-color: #000;
}

.account-manager-block .sca-heding {
  text-align: left;
}

.account-manager-block .ram span {
  text-align: center;
  color: rgba(38, 191, 148, 0.9);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: OpenSansBold;
}

.account-manager-block a,
.account-manager-block p {
  color: #000;
  margin-bottom: 10px;
  display: block;
}

.dark .account-manager-block a,
.dark .account-manager-block p {
  color: #fff;
 
}

.account-manager-block .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact a {
  background-color: rgba(132, 90, 223, 0.2);
  color: rgba(132, 90, 223);
  max-width: 80%;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 5px auto;
}

.contact p {
  background-color: rgba(245, 184, 73, 0.2);
  color: rgba(245, 184, 73);
  max-width: 80%;
  padding: 3px 10px !important;
  border-radius: 5px;
  margin: 5px auto;
}

.account-manager-block a:focus,
.account-manager-block a:hover {
  color: rgba(132, 90, 223);
  background-color: transparent !important;
}

.account-manager-block .upload-profile {
  background-color: #c4c4c4;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  margin: 30px auto 10px;
}

.ram {
  font-size: 0.8em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4) !important;

  padding: 3px 5px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}
.dark .ram{
  color: rgba(255, 255, 255, 0.4) !important;
}

.account-manager-block .upload-profile .btn-file {
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  left: auto;
  right: 10px;
  top: 96px;
  z-index: 1;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #f3f8f5;
}

.account-manager-block .upload-profile .btn-file img {
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  z-index: 0;
  margin: 5px auto 0;
}

.account-manager-block .upload-profile .upload-file {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.account-manager-block .upload-profile .img-block {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background-image: url("./pexels-blue-bird-7210319.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

.account-manager-block .media-left .img-block img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.account-manager-block .upload-profile .img-block .profile-img {
  height: 100%;
  min-width: 100%;
}

.account-manager-block .upload-profile.expert-profile-img .img-block {
  background: 0 0;
}

.your-team-block ul li > a > span {
  background: rgba(38, 191, 148, 0.1);
  color: rgba(38, 191, 148);
  border-radius: 3px;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
}

#stc-price {
  background-color: #fff;
  box-shadow: 0 0.125rem 0 rgb(10 10 10 / 4%);
  border-radius: 0.5rem;
  border-radius: 8px;
  padding: 18px !important;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}
.dark #stc-price{
  background-color: #000;
  color: #fff;
}

#stc-price ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9rem;
  width: 100%;
}
#stc-price ul li {
  flex: auto;
  background: rgba(38, 191, 148, 0.1);
  color: rgba(38, 191, 148);
  border-radius: 3px;
  padding: 10px;
  min-height: 120px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
#stc-price ul li:nth-child(1) {
  background-color: rgba(18, 194, 194, 0.1) !important;
  color: rgba(18, 194, 194) !important;
}

#stc-price ul li:nth-child(2) {
  background-color: rgba(231, 145, 188, 0.1) !important;
  color: rgba(231, 145, 188);
}

#stc-price ul li:nth-child(3) {
  background-color: rgba(132, 90, 223, 0.1) !important;
  color: rgba(132, 90, 223, 1) !important;
}

#stc-price ul li:nth-child(4) {
  background-color: rgba(38, 191, 148, 0.1) !important;
  color: rgba(38, 191, 148);
}

#stc-price ul li:nth-child(5) {
  background-color: rgba(230, 83, 60, 0.1) !important;
  color: rgba(230, 83, 60);
}

#stc-price ul li:nth-child(6) {
  background-color: rgba(255, 165, 5, 0.1) !important;
  color: rgba(255, 165, 5);
}

.live-stc-price .Processing-time {
  margin-bottom: 0;
  position: relative;
}

li .time {
  font-weight: 600;
  font-size: 1.1rem !important;
  min-height: 30px;
}

.settlement-term-sca .SettlementTerms .LiSettlement {
  padding: 20px !important;
  min-width: 150px;
}

.live-stc-price .Processing-time li {
  vertical-align: middle;
}

.livestc-titleblock {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}




li .time {
  display: inline-block;

  margin: 15px auto 0 !important;
  white-space: nowrap;
  width: auto;
}

li .time::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
}
li .price {
  margin-top: 0.8rem;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.dark li .price {
  color: #fff;
}
li .processing-text {
  font-size: 12px !important;
}
.up-caret .time::after {
  border-bottom: 6px solid #1b954c;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.down-caret .time::after {
  border-top: 6px solid #f20606;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.live-stc-price .Processing-time li h2 {
  font-weight: 500;
  color: #000;
  font-size: 28px;
  padding-bottom: 10px;
}

.live-stc-price .Processing-time li p {
  color: #000;
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.your-team-block .sca-heding {
  margin-bottom: 0;
  padding-right: 150px;
  position: relative;
}

.your-team-block .link-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  padding: 10px;
}

.your-team-block {
  padding-bottom: 0;
}

.your-team-block .form-control {
  border: 0;
  background-color: #fff;
  min-height: 36px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.your-team-block ul li {
  display: block;
}

.your-team-block ul li > a,
.your-team-block ul li > span {
  font-size: 15px;
  font-weight: 500;
  padding: 15px 50px 15px 10px;
  position: relative;
  display: block;
  min-height: 35px;
  text-align: left;
  margin-bottom: 0;
}

.your-team-block ul li:hover {
 
  box-shadow: 0.438px 0.899px 4px 0 rgba(0, 0, 0, 0.05);
}

.your-team-block ul li .edit-icon {
  position: absolute;
  right: 15px;
  top: 7px;
}

.btn-group label.btn.border-btn {
  padding: 8px 10px;
}

.btn-group label.btn.border-btn.active {
  color: #fff !important;
}
