
body,html {
    margin: 0;
    padding: 0;
    height: 100vh;
    border: none;
    box-sizing: border-box;

}
* {
    box-sizing: border-box;
}
.login-btn {
  background-color: #128956;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.login-bg {
  height: 100%;
position: relative;
}

#login .panelHeight {
  max-height: auto;
}
#login .forgotPass {
  max-height: 300px;
}
#login .reset {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
  padding: 30px;
  max-width: 800px;
  max-height: 390px;
}

#login {
height: 100%;
 position: relative;
}
#green-bg{
    position: absolute;
    width: 100%;
    max-height: 1450px;
    height:auto ;
    background-image: url(./Typing-bro.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -35%;
    left: -22%;
    bottom: 0;
    z-index: -1;
}

#login .title {
  border: medium none;
  color: #128956;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.loginform .form-control {
  width: 100%;
  margin-bottom: 0.9rem;
  border: none;
  border-bottom: #128956 solid 0.8px;
}
.login-panel {
  height: 100%;
}
.loginleft {
  padding: 5rem;
}
.loginright {
    
}
.panel-heading .logo {
  text-align: center;
  padding: 0;
  
  float: none;
  vertical-align: middle;
}
.login-panel input.form-control {
  border-color: #d0e2ce;
}
.login-panel input[type="checkbox"] {
  margin-right: 5px;
}
.login-panel .link_password {
  float: right;
}
.login-panel .link_password,
.login-panel .remember {
  vertical-align: text-top;
}
.forgot {
  margin-top: 5px;
}
.forgot a {
  color: #78b3d8;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 0 0 0;
}
.forgot a:focus,
.forgot a:hover {
  color: #338bc3;
}
#login a{
    text-decoration: none;
}
#login .login-btn {
    margin-top: 2rem;
  padding: 5px 10px 5px 10px;
  border-color: none !important;
  border: none !important;
  width: 100%;
}
#login .logo {
  max-width: 200px;
  margin: 0rem auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
#login .logo img {
  max-width: 100%;
  height: auto;
}
