

body {
    background: linear-gradient(-45deg, rgb(36, 60, 117), #07455b,rgb(15,23,42 ), #021f19);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color:#fff;
   
}
.hide{
    visibility:hidden !important;
    position:absolute !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-container {
    padding: 4rem 8rem !important;
}
.hidee {
    padding: 0.5rem !important;
    display: none;
}
#show-old {
    position: absolute;
    right: 0.1em;
    top: 1.5rem;
    transform: translateY(-50%);
    padding-inline: 0.5em;
    cursor:pointer;
}

.hideeye {
    display: none;
}

h4 {
    margin: 2rem 0rem 1rem;
}

#userTable td {
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: rgb(233, 237, 255);
    border-bottom: 0.001px solid #e5e7eb !important;
}

#userTable th {
    color: rgb(56 189 248);
}

#userTable td, #userTable th {
    vertical-align: middle;
}

.trash {
    font-size: 10px;
    background-color: rgba( 56 189 248 .4);
    width: 1.6em;
    height: 1.6em;
    border: .2em solid rgb(56 189 248);
    border-radius: 0 0 .5em 0.5em;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    outline:none;
    text-decoration:none;
}

    .trash:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 0.7em;
        border: .2em solid rgb(56 189 248);
        border-radius: .3em 0.3em 0 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }

    .trash:after {
        content: '';
        width: 170%;
        display: block;
        height: .2em;
        background-color: rgb(56 189 248);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }


    .trash:hover:before, .trash:hover:after {
        cursor: pointer;
        transform: translateX(-50%) translateY(-0.45em) rotate(-10deg) !important;
        pointer-events: none;
        margin-left: -0.2em;
    }



.icon {
    color: rgb(56 189 248);
    font-size: 1.4em;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.userHeading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(226 232 240);
    font-weight: 800;
    letter-spacing: 0.25rem;
}

.addButton {
    background-color: rgb(14 165 233);
    border-color: transparent;
    border-radius: 0.375rem;
    color: #fff;
    font-weight: 600;
    padding: 0.2rem 0.75rem;
    box-shadow: 0 1px 3px 0 transparent, 0 1px 2px -1px #00001a;
}

.modal-content {
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
}

.modal-backdrop.show {
    opacity: 0.85 !important;
}

.modal-footer{
    border:none !important;
}


.form {
    position: relative;
    color: hsl(0, 0%, 100%);
    border-left: 0.001px solid #e5e7eb !important;
    ;
    display: grid;
    gap: 1.5em;
    width: 100%;
    padding-left: 1.9rem;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem 0;
}

.bullet {
    color: rgb(56,189,248);
    position: absolute;
    left: -2.8rem;
    top: 0.8rem;
    font-size: 0.8rem;
}


.full_width {
    grid-column: 1 / span 2;
}

.form__linput {
    color: hsl(215, 15%, 39%);
    display: grid;
    margin-left: 0.5rem;
    position: relative;
    margin-bottom: 0.8rem;
}

.form__input {
    color: hsl(0, 0%, 100%) !important;
    background-color: transparent;
    padding: 0.9em;
    padding-bottom: 0.4em;
    font-size: 0.8rem;
    width: 100%;
    border: none !important;
    border-radius: 0;
    font-weight: 500;
    border-bottom: 2px solid rgb(56 189 248) !important;
}

    .form__input:valid,
    .form__input:focus {
        border: 0px solid hsl(171, 76%, 45%) !important;
        border-bottom: 2px solid rgb(56 189 248) !important;
    
        outline: none;
    }
        .valid + .form__label,
        .form__input:valid + .form__label,
        .form__input:focus + .form__label {
            font-size: 0.8rem;
            color: rgb(56 189 248);
            top: 0;
            outline: none;
        }

            .valid + .form__label::before,
            .form__input:valid + .form__label::before,
            .form__input:focus + .form__label::before {
                height: 90%;
                opacity: 1;
            }

.form__label {
    transition: top 180ms linear, font-size 180ms linear;
    background-color: transparent;
    position: absolute;
    left: 0.1em;
    top: 0;
    transform: translateY(-50%);
    padding-inline: 0.5em;
    user-select: none;
    cursor: text;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgb(56 189 248);
}

    .form__label::before {
        transition: height 90ms linear 90ms, opacity 180ms linear;
        font-size: 0.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        width: 100%;
        height: 0;
        opacity: 0;
        content: "";
    }

.form-select {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid rgb(56 189 248) !important;
    outline: none;
    color: #94a3b8 !important;
}
.text-danger {
    font-size: 0.85rem;
    color: rgb(244 114 182) !important;
}

.form-row label {
    color: rgb(233, 237, 255);
}

.form-row input {
    background-color: transparent;
    color: rgb(56, 189, 248);
}

    .form-row input::placeholder {
        color: rgb(56, 189, 248);
    }
.dataTables_length label select option {
    color: rgb(56, 189, 248);
}
.dataTables_length label select {
    color: rgb(233, 237, 255);
}

.alert-success {
    color: rgb(233, 237, 255);
    border-color:transparent;
    background-color: rgb(244 114 182) !important;
    padding: 0.5rem !important;
    vertical-align:middle;
}


.card {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f8f8f8;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color:rgb(56, 189, 248);
}

.form-group label {
    font-weight: bold;
    color: rgb(56 189 248);
}

.form-control:focus {
    box-shadow: none;
}

.btn-login {
    background-color: rgb(14 165 233);
    border-color: transparent;
    border-radius: 0.375rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

    .btn-login:hover {
        background-color: #432c6f;
        border-color: #432c6f;
    }

    .btn-login:focus {
        box-shadow: none;
    }

.text-center {
    margin-top: 20px;
    font-size: 1.2rem;
}
.navbar-nav{
    padding:0.6rem 3rem;

}
    .navbar-nav li a {
        text-decoration: none;
        color: #fff;
    }

    @media screen and (max-width: 576px) {
        .card {
        margin: 10px;
        padding: 30px;
    }
}


.profile-photo {
    width: 28px;
    height: auto;
}

.flex-menu {
    display: flex;
}

    .flex-menu li:not(:last-child) {
        margin-right: 40px;
    }

.suggest, .post {
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
}

.img-circle {
    border-radius: 50%;
}

.users img {
    width: 4.6rem;
    height: 4.6rem;
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

    .users h2 {
        color: rgb(56, 189, 248);
        ;
    }

.profile {
    color: #fff;
    align-items: center;
}
