

/*body {
    background: linear-gradient(-45deg, rgb(36, 60, 117), #07455b,rgb(15,23,42 ), #021f19);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    color: #fff;
    will-change: background-position;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/
html {
   scroll-behavior: smooth;
}
.main-body {
    background: linear-gradient(-45deg, rgb(36, 60, 117), #07455b, rgb(15, 23, 42), #021f19);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
    min-height: 100vh;
    color: #fff;
    
    scroll-behavior: smooth;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hide {
    visibility: hidden !important;
    position: absolute !important;
}

.main-container {
  
    padding: 4rem 8rem !important;
}

.hidee {
    padding: 0.5rem !important;
    display: none;
}
#show-old {
    position: absolute;
    right: 0.1em;
    top: 1.5rem;
    transform: translateY(-50%);
    padding-inline: 0.5em;
    cursor:pointer;
}

.hideeye {
    display: none;
}

h4 {
    margin: 2rem 0rem 1rem;
}

#userTable td {
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: rgb(233, 237, 255);
    border-bottom: 0.001px solid #e5e7eb !important;
}

#userTable th {
    color: rgb(56 189 248);
}

#userTable td, #userTable th {
    vertical-align: middle;
}

.trash {
    font-size: 10px;
    background-color: rgba( 56 189 248 .4);
    width: 1.6em;
    height: 1.6em;
    border: .2em solid rgb(56 189 248);
    border-radius: 0 0 .5em 0.5em;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    outline:none;
    text-decoration:none;
}

    .trash:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 0.7em;
        border: .2em solid rgb(56 189 248);
        border-radius: .3em 0.3em 0 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }

    .trash:after {
        content: '';
        width: 170%;
        display: block;
        height: .2em;
        background-color: rgb(56 189 248);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }


    .trash:hover:before, .trash:hover:after {
        cursor: pointer;
        transform: translateX(-50%) translateY(-0.45em) rotate(-10deg) !important;
        pointer-events: none;
        margin-left: -0.2em;
    }



.icon {
    color: rgb(56 189 248);
    font-size: 1.4em;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.userHeading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(226 232 240);
    font-weight: 800;
    letter-spacing: 0.25rem;
}

.addButton {
    background-color: rgb(14 165 233);
    border-color: transparent;
    border-radius: 0.475rem;
    color: #fff;
    font-weight: 600;
    padding: 0.2rem 0.75rem;
    box-shadow: 0 1px 3px 0 transparent, 0 1px 2px -1px #00001a;
}
.deletebutton {
    background-color: rgb(233, 237, 255);
    border-color: transparent;
    border-radius: 0.475rem;
    color: #00001a;
    font-weight: 600;
    padding: 0.2rem 0.75rem;
    box-shadow: 0 1px 3px 0 transparent, 0 1px 2px -1px #00001a;
}
.modal-content {
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
}

.modal-backdrop.show {
    opacity: 0.85 !important;
}

.modal-footer{
    border:none !important;
}


.form {
    position: relative;
    color: hsl(0, 0%, 100%);
    border-left: 0.001px solid #e5e7eb !important;
    ;
    display: grid;
    gap: 1.5em;
    width: 100%;
    padding-left: 1.9rem;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem 0;
}

.bullet {
    color: rgb(56,189,248);
    position: absolute;
    left: -2.8rem;
    top: 0.8rem;
    font-size: 0.8rem;
}


.full_width {
    grid-column: 1 / span 2;
}

.form__linput {
    color: hsl(215, 15%, 39%);
    display: grid;
    margin-left: 0.5rem;
    position: relative;
    margin-bottom: 0.8rem;
}

.form__input {
    color: hsl(0, 0%, 100%) !important;
    background-color: transparent;
    padding: 0.9em;
    padding-bottom: 0.4em;
    font-size: 0.8rem;
    width: 100%;
    border: none !important;
    border-radius: 0;
    font-weight: 500;
    border-bottom: 2px solid rgb(56 189 248) !important;
}

    .form__input:valid,
    .form__input:focus {
        border: 0px solid hsl(171, 76%, 45%) !important;
        border-bottom: 2px solid rgb(56 189 248) !important;
    
        outline: none;
    }
        .valid + .form__label,
        .form__input:valid + .form__label,
        .form__input:focus + .form__label {
            font-size: 0.8rem;
            color: rgb(56 189 248);
            top: 0;
            outline: none;
        }

            .valid + .form__label::before,
            .form__input:valid + .form__label::before,
            .form__input:focus + .form__label::before {
                height: 90%;
                opacity: 1;
            }

.form__label {
    transition: top 180ms linear, font-size 180ms linear;
    background-color: transparent;
    position: absolute;
    left: 0.1em;
    top: 0;
    transform: translateY(-50%);
    padding-inline: 0.5em;
    user-select: none;
    cursor: text;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgb(56 189 248);
}

    .form__label::before {
        transition: height 90ms linear 90ms, opacity 180ms linear;
        font-size: 0.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        width: 100%;
        height: 0;
        opacity: 0;
        content: "";
    }

.form-select {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid rgb(56 189 248) !important;
    outline: none;
    color: #94a3b8 !important;
}
.text-danger {
    font-size: 0.85rem;
    color: rgb(244 114 182) !important;
}

.form-row label {
    color: rgb(233, 237, 255);
}

.form-row input {
    background-color: transparent;
    color: rgb(56, 189, 248);
}

    .form-row input::placeholder {
        color: rgb(56, 189, 248);
    }
.dataTables_length label select option {
    color: rgb(56, 189, 248);
}
.dataTables_length label select {
    color: rgb(233, 237, 255);
}

.alert-success {
    color: rgb(233, 237, 255);
    border-color:transparent;
    background-color: rgb(244 114 182) !important;
    padding: 0.5rem !important;
    vertical-align:middle;
}
.alert-error {
    margin-top:1rem;
    color: rgb(233, 237, 255);
    border-color: transparent;
    background-color: rgb(244 114 182) !important;
    padding: 0.2rem !important;
    vertical-align: middle;
}


.card {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f8f8f8;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color:rgb(56, 189, 248);
}

.form-group label {
    font-weight: bold;
    color: rgb(56 189 248);
}

.form-control:focus {
    box-shadow: none;
}

.btn-login {
    background-color: rgb(14 165 233);
    border-color: transparent;
    border-radius: 0.375rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

    .btn-login:hover {
        background-color: #432c6f;
        border-color: #432c6f;
    }

    .btn-login:focus {
        box-shadow: none;
    }

.text-center {
    margin-top: 20px;
    font-size: 1.2rem;
}
.navbar-nav{
    padding:0.6rem 3rem;

}
    .navbar-nav li a {
        text-decoration: none;
        color: #fff;
    }

    @media screen and (max-width: 576px) {
        .card {
        margin: 10px;
        padding: 30px;
    }
}


.profile-photo {
    width: 28px;
    height: auto;
}

.flex-menu {
    display: flex;
}

    .flex-menu li:not(:last-child) {
        margin-right: 40px;
    }



.img-circle {
    border-radius: 50%;
}

.users img {
    width: 4.6rem;
    height: 4.6rem;
}

.users  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 2.5rem 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
    margin-left:1rem;
}

    .users h2 {
        color: rgb(56, 189, 248);
        
    }

.profile {
    color: #fff;
    align-items: center;
}
.link {
    -webkit-text-decoration: none;
    text-decoration: none;
}


#preview {
    display: none;
    position: relative;
    margin: 1.5rem 0rem;
}

#cross {
    position: absolute;
    right: 0.6rem;
    top:0.4rem;
    border-radius: 60%;
    padding: 0.4rem 0.6rem;
    margin-top: 0.3rem;
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    cursor: pointer;
    z-index:2;
}

#camera {
    border-radius: 50%;
    padding: 0.4rem 0.7rem;
    margin-top: 0.6rem;
    background-color: rgb(56, 189, 248);
    ;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    font-size: 1.5rem;
    cursor: pointer;
}

#fileInput {
    display: none;
}

.postform {
    padding: 1rem;
}

#textarea {
    border: none !important;
    outline: none !important;
    background-color: transparent;
    color: #fff;
}

    #textarea :focus {
        border: none !important;
        outline: none !important;
        cursor: text;
    }

.post-Userimg {
    width: 3rem;
    height: 3rem;
}

.img-text {
    vertical-align: middle;
}
#imageUrl{
    max-height:20rem;
    width:100%;
    background-position:center;
    background-size:cover;
}
.post-img {
    max-height: 18rem;
    width: 100%;
    background-size: cover;
}
.Content {
    position: absolute;
    width:100%;
    bottom: 0rem;
    padding: 1rem;
    background:linear-gradient(rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%);
}
#deletepost {
    top: 13% !important;
    right: 2% !important;
    left: auto !important;
    background: transparent !important;
    border-color: #fff !important;
}
    #deletepost:before, #deletepost:after {
        border-color: #fff !important;
        background-color: #fff;
    }

.posts {
    -webkit-backface-visibility: hidden;
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
    padding: 2rem;
    margin: 1rem;
}

.CommentPartial{
    margin:1rem 0;
    padding:1rem;
  
    
}
.commentBox{
    position:relative;
    padding:1.5rem;
    width:100%;
    color:rgb(233, 237, 255);
}
    .commentBox input {
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        border: 1px solid rgb(56 189 248) !important;
        border-radius: 15px;
        outline: none;
        width:100%;
        color: #fff;
        padding:0.5rem;
        background-color:transparent !important;
    }

    .commentBox button {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        border: none !important;
        color: #fff;
    }
.commentbtn {
    display: none;
}
    .commentbtn:hover {
        color: #fff !important;
    }
.deleteComment{
    left:auto !important;
    right:0;
}
.requested{
    background-color:transparent !important;
    border:1px solid rgb(56 189 248) !important;

}

.hidden{
    display:none;
}
.notificationDot {
    position: absolute;
    background-color: rgb(244 114 182);
    bottom: 15px;
    border-radius: 50%;
    left: 9px;
    height: 16px;
    width: 16px;
    top: 0px;
}

    .notificationDot p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        padding-bottom: 1px;
        font-weight: bold;
    }

.effect {
   border: 2px solid rgb(56 189 248);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition:2s ease-in;
    
}

.effect  .focus-border:before,
.effect  .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.3s;
     transition-delay:3s;
}

    .effect .focus-border:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        width: 100%;
        transition: 1.3s;
        transition-delay:4s;
    }

    .effect .focus-border .i:before,
    .effect .focus-border .i:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 0;
        background-color: #3399FF;
        transition: 0.4s;
        transition-delay: 3s;
    }

    .effect .focus-border .i:after {
        left: auto !important;
        right: 0 !important;
        top: auto;
        bottom: 0;
        height: 100%;
        transition: 1.3s;
        transition-delay: 4s;
    }

    .effect:focus .focus-border:before,
    .effect:focus .focus-border:after {
        width: 100%;
        transition: 2s ease-in;
        transition-delay: 3s;
        transition-delay: 4s;
    }

    .effect:focus .focus-border .i:before,
    .effect:focus .focus-border .i:after {
        height: 100%;
        transition: 2s ease-in;
        transition-delay: 3s;
    }

.posts .slide .carousel-indicators [data-target] {
    text-indent: 0 !important;
    color: #00001a;
    font-weight: 600;
    height: auto;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}



.posts .slide .carousel-indicators .active {
    opacity: 1;
}