

body {
    background: linear-gradient(-45deg, rgb(36, 60, 117), #07455b,rgb(15,23,42 ), #021f19);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color:#fff
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-container {
    padding: 5rem 8rem !important;
}

h4 {
    margin: 2rem 0rem 1rem;
}

td {
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: rgb(233, 237, 255);
    border-bottom: 0.001px solid #e5e7eb !important;
}

th {
    color: rgb(56 189 248);
}

td, th {
    vertical-align: middle;
}

.trash {
    font-size: 10px;
    background-color: rgba( 56 189 248 .4);
    width: 1.6em;
    height: 1.6em;
    border: .2em solid rgb(56 189 248);
    border-radius: 0 0 .5em 0.5em;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    outline:none;
    text-decoration:none;
}

    .trash:before {
        content: '';
        display: block;
        width: 1.5em;
        height: 0.7em;
        border: .2em solid rgb(56 189 248);
        border-radius: .3em 0.3em 0 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }

    .trash:after {
        content: '';
        width: 170%;
        display: block;
        height: .2em;
        background-color: rgb(56 189 248);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .15s ease-in-out;
    }


    .trash:hover:before, .trash:hover:after {
        cursor: pointer;
        transform: translateX(-50%) translateY(-0.45em) rotate(-10deg) !important;
        pointer-events: none;
        margin-left: -0.2em;
    }



.icon {
    color: rgb(56 189 248);
    font-size: 1.4em;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.userHeading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(226 232 240);
    font-weight: 800;
    letter-spacing: 0.25rem;
}

.addButton {
    background-color: rgb(14 165 233);
    border-color: transparent;
    border-radius: 0.375rem;
    color: #fff;
    font-weight: 600;
    padding: 0.2rem 0.75rem;
    box-shadow: 0 1px 3px 0 transparent, 0 1px 2px -1px #00001a;
}

.modal-content {
    background-color: #1e293bcc;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    padding: 1.5rem;
    border-radius: 1.5rem;
    opacity: 1;
    z-index: 100;
}

.modal-backdrop.show {
    opacity: 0.85 !important;
}

.modal-footer{
    border:none !important;
}


.form {
    position: relative;
    color: hsl(0, 0%, 100%);
    border-left: 0.001px solid #e5e7eb !important;
    ;
    display: grid;
    gap: 1.5em;
    width: 100%;
    padding-left: 1.9rem;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem 0;
}

.bullet {
    color: rgb(56,189,248);
    position: absolute;
    left: -2.8rem;
    top: 0.8rem;
    font-size: 0.8rem;
}


.full_width {
    grid-column: 1 / span 2;
}

.form__linput {
    color: hsl(215, 15%, 39%);
    display: grid;
    margin-left: 0.5rem;
    position: relative;
    border-bottom: 2px solid rgb(56 189 248);
    margin-bottom: 0.8rem;
}

.form__input {
    color: hsl(0, 0%, 100%) !important;
    background-color: transparent;
    padding: 0.9em;
    padding-bottom: 0.4em;
    font-size: 0.8rem;
    width: 100%;
    border: none !important;
    border-radius: 0.8em;
    font-weight: 500;
}

    .form__input:valid,
    .form__input:focus {
        border: 0px solid hsl(171, 76%, 45%) !important;
        outline: none;
    }
        .valid + .form__label,
        .form__input:valid + .form__label,
        .form__input:focus + .form__label {
            font-size: 0.8rem;
            color: rgb(56 189 248);
            top: 0;
            outline: none;
        }

            .valid + .form__label::before,
            .form__input:valid + .form__label::before,
            .form__input:focus + .form__label::before {
                height: 90%;
                opacity: 1;
            }

.form__label {
    transition: top 180ms linear, font-size 180ms linear;
    background-color: transparent;
    position: absolute;
    left: 0.1em;
    top: 50%;
    transform: translateY(-50%);
    padding-inline: 0.5em;
    user-select: none;
    cursor: text;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: #94a3b8;
}

    .form__label::before {
        transition: height 90ms linear 90ms, opacity 180ms linear;
        font-size: 0.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        width: 100%;
        height: 0;
        opacity: 0;
        content: "";
    }

.form-select {
    background-color: transparent !important;
    border: none !important;
    outline: none;
    color: #94a3b8 !important;
}